<div class="d-inline-block">
    <div class="card m-1 p-1" style="width: 300px; height: 500px;">
        <img src="{{ alumno.imagen }}" alt="" class="card-img-top" style="width: 300px; height: 200px;">
        <div class="card-body">
            <p class="card-text"> ID: {{ alumno.id }} </p>
            <p class="card-text"> Nombre: {{ alumno.nombre }} </p>
            <p class="card-text"> Apellido: {{ alumno.apellidos }} </p>
            <p class="card-text"> Ciudad: {{ alumno.ciudad }} </p>
            <p class="card-text"> Curso: {{ alumno.curso }} </p>
            <a (click)="alumnoElegido(alumno.id)" class="btn btn-primary">Eliminar</a>
        </div>
    </div>
</div>

