<div>
    <label class="p-2 m-2">Nombre</label>
    <input class="p-2 m-2" type="text" [(ngModel)]="nombre">

    <label class="p-2 m-2">Apellido</label>
    <input class="p-2 m-2" type="text" [(ngModel)]="apellido">

    <label class="p-2 m-2">Ciudad</label>
    <input class="p-2 m-2" type="text" [(ngModel)]="ciudad">

    <label class="p-2 m-2">Curso</label>
    <input class="p-2 m-2" type="text" [(ngModel)]="curso">

    <button class="btn btn-secondary p-2 m-2" (click)="crearAlumno()">Crear Kevin</button>
</div>